<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-We-Begin,-Remember-DS-Life-Cycle" data-toc-modified-id="Before-We-Begin,-Remember-DS-Life-Cycle-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before We Begin, Remember DS Life Cycle</a></span><ul class="toc-item"><li><span><a href="#Other-frameworks-to-consider" data-toc-modified-id="Other-frameworks-to-consider-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Other frameworks to consider</a></span></li></ul></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preparation</a></span><ul class="toc-item"><li><span><a href="#Separate-features-from-target" data-toc-modified-id="Separate-features-from-target-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Separate features from target</a></span></li><li><span><a href="#Split-your-data-into-train-test-sets" data-toc-modified-id="Split-your-data-into-train-test-sets-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Split your data into train-test sets</a></span></li></ul></li><li><span><a href="#Data-Exploration" data-toc-modified-id="Data-Exploration-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Exploration</a></span></li><li><span><a href="#Data-Cleaning-&amp;-Feature-Engineering" data-toc-modified-id="Data-Cleaning-&amp;-Feature-Engineering-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Cleaning &amp; Feature Engineering</a></span><ul class="toc-item"><li><span><a href="#Getting-rid-of-unnecessary-features" data-toc-modified-id="Getting-rid-of-unnecessary-features-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Getting rid of unnecessary features</a></span></li><li><span><a href="#Working-with-numerical-features" data-toc-modified-id="Working-with-numerical-features-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Working with numerical features</a></span></li><li><span><a href="#Dealing-with-missing-values" data-toc-modified-id="Dealing-with-missing-values-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Dealing with missing values</a></span></li><li><span><a href="#Working-with-categorical-features" data-toc-modified-id="Working-with-categorical-features-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Working with categorical features</a></span></li><li><span><a href="#Finalizing-your-features-(and-labels)" data-toc-modified-id="Finalizing-your-features-(and-labels)-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Finalizing your features (and labels)</a></span></li></ul></li><li><span><a href="#Model-the-Data" data-toc-modified-id="Model-the-Data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model the Data</a></span></li><li><span><a href="#Evaluate-the-Model" data-toc-modified-id="Evaluate-the-Model-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Evaluate the Model</a></span><ul class="toc-item"><li><span><a href="#It's-good-to-observe-the-model's-coefficients-&amp;-intercepts" data-toc-modified-id="It's-good-to-observe-the-model's-coefficients-&amp;-intercepts-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>It's good to observe the model's coefficients &amp; intercepts</a></span></li><li><span><a href="#We-would-likely-want-to-see-how-features-do-in-making-predictions-(p-value)" data-toc-modified-id="We-would-likely-want-to-see-how-features-do-in-making-predictions-(p-value)-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>We would likely want to see how features do in making predictions (p-value)</a></span></li><li><span><a href="#Observe-how-well-the-model-makes-predictions" data-toc-modified-id="Observe-how-well-the-model-makes-predictions-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Observe how well the model makes predictions</a></span><ul class="toc-item"><li><span><a href="#k-fold-validation" data-toc-modified-id="k-fold-validation-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>k-fold validation</a></span></li></ul></li><li><span><a href="#If-we're-satisfied-with-our-model,-we-can-observe-how-it-does-with-the-holdout-test-set" data-toc-modified-id="If-we're-satisfied-with-our-model,-we-can-observe-how-it-does-with-the-holdout-test-set-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>If we're satisfied with our model, we can observe how it does with the holdout test set</a></span></li></ul></li><li><span><a href="#Note-to-Save-Your-Models!" data-toc-modified-id="Note-to-Save-Your-Models!-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Note to Save Your Models!</a></span><ul class="toc-item"><li><span><a href="#pickle" data-toc-modified-id="pickle-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>pickle</code></a></span></li><li><span><a href="#joblib" data-toc-modified-id="joblib-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>joblib</code></a></span></li></ul></li></ul></div>

In [1]:
# Typical imports we might use
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Before We Begin, Remember DS Life Cycle

![](https://lh3.googleusercontent.com/proxy/PYozaN6A4m2uZ4D3uWR0ORx1mi4qUq7FXb3UM8ybEYXkorNGsAf22cXaTUZ6vQpmzVMfokPMABo_NiFjl21xyx1wWIM0q7OoqrCStK4L5LnW-WHy4upFr-w60KebsxKKyJ4avYfXWRyMGxdWlYsjd2sBihqEfa6mcg)

## Other frameworks to consider

> In the future, we will talk about specific frameworks like CRISP-DM **(CRoss-Industry Standard Process for Data Mining)** & OSEMN **Obtain, Scrub, Explore, Model, and iNterpret)**

![](images/crisp-dm.png)

![](images/osemn.png)

# Data Preparation

Load your data in so we can do the initial final train-test split. (Note some situations you don't do a holdout since you have a test set ready for you).

In [2]:
my_data = pd.read_csv('data/kaggle_comp_ny_airbnb/train.csv')

In [3]:
my_data.head()

,id,host_id,host_name,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,33400953,3400827,Nicole,40.79595,-73.97485,Entire home/apt,3,2,2019-04-21,0.74,1,0,380
1,16965705,3483600,Joshua,40.83498,-73.94214,Private room,2,0,NaN,NaN,1,0,63
2,34819184,156850005,Sharon,40.75600,-73.87756,Private room,1,1,2019-05-29,0.73,2,355,77
3,22579551,3231509,Annamaria,40.71775,-74.00607,Entire home/apt,14,13,2019-05-08,0.77,4,365,450
4,14571451,32454701,Maria,40.72824,-73.97824,Entire home/apt,1,198,2019-07-06,5.63,1,21,129

In [4]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31292 entries, 0 to 31291
Data columns (total 13 columns):
id                                31292 non-null int64
host_id                           31292 non-null int64
host_name                         31280 non-null object
latitude                          31292 non-null float64
longitude                         31292 non-null float64
room_type                         31292 non-null object
minimum_nights                    31292 non-null int64
number_of_reviews                 31292 non-null int64
last_review                       24808 non-null object
reviews_per_month                 24808 non-null float64
calculated_host_listings_count    31292 non-null int64
availability_365                  31292 non-null int64
price                             31292 non-null int64
dtypes: float64(3), int64(7), object(3)
memory usage: 3.1+ MB

## Separate features from target

In [5]:
#TODO

X = my_data.iloc[:,:-1]
y = my_data.iloc[:,-1]

## Split your data into train-test sets

In [6]:
from sklearn.model_selection import train_test_split

#TODO
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=27)

In [7]:
X_train.head()

,id,host_id,host_name,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3234,12966504,28709982,Sidiq,40.71827,-73.95494,Entire home/apt,3,51,2019-06-09,1.36,3,71
30368,30890018,4491717,Goran,40.76132,-73.99443,Private room,3,1,2019-01-01,0.16,1,341
25504,32919247,247673988,Adrian,40.69872,-73.93461,Private room,1,18,2019-07-02,4.74,2,158
1245,15160268,345252,Thomas,40.67843,-73.96385,Entire home/apt,5,3,2016-10-21,0.09,3,0
29474,13694279,42605385,Cameron,40.63627,-73.96514,Entire home/apt,7,0,NaN,NaN,3,0

# Data Exploration

> This is likely where you'd explore your data and think about what would be good features.

# Data Cleaning & Feature Engineering

> I made this section as one since you might go back and forth between these two sections. Organize it in the way that makes sense to you and your work.
>
> We want to make functions to do this cleaning and feature engineering since we'll repeat this process on our holdout test set.

In [8]:
X_train.head()

,id,host_id,host_name,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3234,12966504,28709982,Sidiq,40.71827,-73.95494,Entire home/apt,3,51,2019-06-09,1.36,3,71
30368,30890018,4491717,Goran,40.76132,-73.99443,Private room,3,1,2019-01-01,0.16,1,341
25504,32919247,247673988,Adrian,40.69872,-73.93461,Private room,1,18,2019-07-02,4.74,2,158
1245,15160268,345252,Thomas,40.67843,-73.96385,Entire home/apt,5,3,2016-10-21,0.09,3,0
29474,13694279,42605385,Cameron,40.63627,-73.96514,Entire home/apt,7,0,NaN,NaN,3,0

## Getting rid of unnecessary features

In [9]:
def get_needed_features(my_dataframe):
    '''
    Only keep the features that are needed (get rid of id)
    Return dataframe without id column
    '''
    return my_dataframe.iloc[:,1:]

In [10]:
X_train_features = get_needed_features(X_train)
X_train_features.head()

,host_id,host_name,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3234,28709982,Sidiq,40.71827,-73.95494,Entire home/apt,3,51,2019-06-09,1.36,3,71
30368,4491717,Goran,40.76132,-73.99443,Private room,3,1,2019-01-01,0.16,1,341
25504,247673988,Adrian,40.69872,-73.93461,Private room,1,18,2019-07-02,4.74,2,158
1245,345252,Thomas,40.67843,-73.96385,Entire home/apt,5,3,2016-10-21,0.09,3,0
29474,42605385,Cameron,40.63627,-73.96514,Entire home/apt,7,0,NaN,NaN,3,0

In [11]:
X_train_features.shape

(25033, 11)

## Working with numerical features

In [12]:
X_train_features.head()

,host_id,host_name,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3234,28709982,Sidiq,40.71827,-73.95494,Entire home/apt,3,51,2019-06-09,1.36,3,71
30368,4491717,Goran,40.76132,-73.99443,Private room,3,1,2019-01-01,0.16,1,341
25504,247673988,Adrian,40.69872,-73.93461,Private room,1,18,2019-07-02,4.74,2,158
1245,345252,Thomas,40.67843,-73.96385,Entire home/apt,5,3,2016-10-21,0.09,3,0
29474,42605385,Cameron,40.63627,-73.96514,Entire home/apt,7,0,NaN,NaN,3,0

In [13]:
X_train_features.columns

Index(['host_id', 'host_name', 'latitude', 'longitude', 'room_type',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [14]:
def get_numerical_features(my_dataframe):
    '''
    Return dataframe with only numerical features.
    '''
    columns_to_keep = ['host_id', 'latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'
    ]
    return my_dataframe[columns_to_keep]

In [15]:
X_train_numerics = get_numerical_features(X_train_features)
X_train_numerics.head()

,host_id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
3234,28709982,40.71827,-73.95494,3,51,1.36,3,71
30368,4491717,40.76132,-73.99443,3,1,0.16,1,341
25504,247673988,40.69872,-73.93461,1,18,4.74,2,158
1245,345252,40.67843,-73.96385,5,3,0.09,3,0
29474,42605385,40.63627,-73.96514,7,0,NaN,3,0

## Dealing with missing values

In [16]:
def fill_null_values(my_dataframe, train_dataframe):
    '''
    '''
    # Find the medians for each column
    values_to_fills = {
        col: train_dataframe[col].median()
        for col in train_dataframe.columns
    }
    
    # Fill with the medians
    return my_dataframe.fillna(values_to_fills)

In [17]:
X_train_numerics_filled = fill_null_values(X_train_numerics, X_train_numerics)
X_train_numerics_filled.head()

,host_id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
3234,28709982,40.71827,-73.95494,3,51,1.36,3,71
30368,4491717,40.76132,-73.99443,3,1,0.16,1,341
25504,247673988,40.69872,-73.93461,1,18,4.74,2,158
1245,345252,40.67843,-73.96385,5,3,0.09,3,0
29474,42605385,40.63627,-73.96514,7,0,0.73,3,0

In [18]:
X_train_numerics_filled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25033 entries, 3234 to 5139
Data columns (total 8 columns):
host_id                           25033 non-null int64
latitude                          25033 non-null float64
longitude                         25033 non-null float64
minimum_nights                    25033 non-null int64
number_of_reviews                 25033 non-null int64
reviews_per_month                 25033 non-null float64
calculated_host_listings_count    25033 non-null int64
availability_365                  25033 non-null int64
dtypes: float64(3), int64(5)
memory usage: 1.7 MB

## Working with categorical features

## Finalizing your features (and labels)

In [19]:
# Note that labels was fixed to be `y_train` instead of `y`

features = X_train_numerics_filled 
labels = y_train

# Model the Data

> Now we'll want to train our model with our features. You'll likely do this multiple times, iterating after evaluating the model. But be sure to document your work ([save your model!](#Note-to-Save-Your-Models!))

In [20]:
from sklearn.linear_model import LinearRegression

#TODO
# Note you can add more parameters to sklearn's LinearRegression function
my_model = LinearRegression()
my_model.fit(features, labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Evaluate the Model

## It's good to observe the model's coefficients & intercepts

In [21]:
display(my_model.coef_)
display(my_model.intercept_)

array([-1.65975730e-09,  2.01567264e+02, -8.36323316e+02, -1.15706674e-01,
       -2.81342865e-01,  8.39163925e-01,  1.17020756e-01,  1.69508644e-01])

-69920.87652891035

In [22]:
my_model.coef_.reshape(-1,1)

array([[-1.65975730e-09],
       [ 2.01567264e+02],
       [-8.36323316e+02],
       [-1.15706674e-01],
       [-2.81342865e-01],
       [ 8.39163925e-01],
       [ 1.17020756e-01],
       [ 1.69508644e-01]])

In [23]:
pd.DataFrame(data=my_model.coef_.reshape(1,-1), columns= features.columns)

,host_id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,-1.659757e-09,201.567264,-836.323316,-0.115707,-0.281343,0.839164,0.117021,0.169509

## We would likely want to see how features do in making predictions (p-value)

If you haven't already, you likely want to check this out here

## Observe how well the model makes predictions

### k-fold validation

> We use k-fold validation to see how well our model did using just the "training set". This effectively creates a new train-validation set for each fold. We can use the RMSE to compare different models or different variations of our models.

In [24]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(
            my_model, 
            features,
            labels,
            cv=10,
            scoring="neg_mean_squared_error"
)

rmse_scores = np.sqrt(-scores)

In [25]:
display(rmse_scores)
display(rmse_scores.mean())
display(rmse_scores.std())

array([245.68164083, 164.68542644, 149.25300802, 256.21442749,
       213.53521635, 214.05761781, 246.5168134 , 145.7074894 ,
       185.62192175, 231.27117105])

205.25447325402484

39.33202281444648

In [26]:
y.std()

221.57976023847343

## If we're satisfied with our model, we can observe how it does with the holdout test set

In [27]:
# Note `get_numerical_features` was corrected from the lecture
X_test_final = fill_null_values(
    get_numerical_features(
        get_needed_features(X_test)
    ),
    X_train_numerics
)

In [28]:
X_test_final.shape

(6259, 8)

In [29]:
y_hat = my_model.predict(X_test_final)

In [30]:
y_hat.shape

(6259,)

In [31]:
#TODO:
resid = y_hat - y_test
resid

284        43.874664
7359       52.266646
18047      44.238996
21941    -114.372526
23692      23.876592
29716     103.636466
14123      -4.713872
12876     -38.744480
2453       17.758132
20696      -7.274625
11132      49.479642
7975     -787.908432
30169      42.680241
1673       14.163846
15757      88.214154
771        91.401580
23416     107.411941
3976       69.682340
1644      -69.317970
21084    -307.213794
6652       90.313773
30686       7.417501
5582       48.196828
20355      72.511921
22749      44.132938
16983     118.620064
18235    -223.424007
10448      77.762041
19729   -1037.139341
23368     -55.263771
            ...
21187      66.699947
4063       22.868480
632         9.296737
14701      26.804031
19918      58.250131
16944      45.306812
20076      62.250769
5260       19.006018
2957        5.368165
26880     -51.418459
8102       51.366337
21049     -93.861309
10576     -63.035784
5860       62.409204
29289      -1.364419
161        79.224081
12387     -21.245868
25247      84.508162
13854      31.159527
25180     -55.647334
24176       9.471181
21977      29.819437
17049      79.429783
15566      69.825891
27621     -68.273311
10092      25.203929
16040     -65.203397
12566    -315.821255
5262       62.877453
11497      62.113877
Name: price, Length: 6259, dtype: float64

# Note to Save Your Models!

<img src='images/save_the_models.png' height=60%/>

## `pickle`

In [32]:
import pickle

pickle.dump(my_model, open('my_model_simple_sol.pkl','wb'))

In [33]:
# Load the model from earlier
model_loaded = pickle.load(open('my_model_pickle.pkl','rb'))

In [34]:
model_loaded

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## `joblib`

In [35]:
import joblib

joblib.dump(my_model, "my_model.pkl")

['my_model.pkl']

In [36]:
# Load the model from earlier
my_model_loaded = joblib.load("my_model.pkl")